header {
    background-color: rgb(32, 37, 52);
    color: white;
    text-align: left;
    padding: 20px 10vh;
    min-height: 90vh;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 95px;
    width: 50%;
    line-height: 1;
    margin: 0;
    padding-top: 100px;
}

header p{
    font-size: 18px;
    width: 30%;
}

header button{
    margin-top: 50px;
    height: 70px;
    width: 150px;
    font-weight: bolder;
    font-size: 18px;
    color: rgb(32, 37, 52);
    border-radius: 8px;
}

#logo {
    height: 100px;
    width: 100px;
}

#hamburger {
    height: 100px;
    width: 100px;
}